<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doudoukupao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/runner"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oldoldb.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity 
            android:name="com.oldoldb.activity.DouDouKuPao"
            android:label="@string/douDouKuPao_name"
            android:screenOrientation="portrait" >         
        </activity>
         <activity 
            android:name="com.oldoldb.activity.WelcomeViewPager"
            android:label="@string/welcomeViewPager_name"
            android:screenOrientation="portrait" >         
        </activity>
        <activity 
            android:name="com.oldoldb.activity.PersonalActivity"
            android:label="@string/personalActivity_name"
            android:screenOrientation="portrait" >         
        </activity>
        <activity 
            android:name="com.oldoldb.activity.InfoEntryActivity"
            android:label="@string/infoEntryActivity_name"
            android:screenOrientation="portrait" >         
        </activity>
        <activity 
            android:name="com.oldoldb.activity.HistoryActivity"
            android:label="@string/historyActivity_name"
            android:screenOrientation="portrait" >         
        </activity>
    </application>

</manifest>
